server/.DS_Store
server/.idea/shelf
server/confluence/target
server/dependencies/repo
server/android.tests.dependencies
server/dependencies/android.tests.dependencies
server/dist
server/local
server/gh-pages
server/ideaSDK
server/clionSDK
server/android-studio/sdk
server/out/
server/tmp
server/intellij
server/workspace.xml
server/*.versionsBackup
server/idea/testData/debugger/tinyApp/classes*
server/jps-plugin/testData/kannotator
server/js/js.translator/testData/out/
server/js/js.translator/testData/out-min/
server/js/js.translator/testData/out-pir/
server/.gradle/
server/build/
!**/src/**/build
!**/test/**/build
server/*.iml
!**/testData/**/*.iml
server/.idea/remote-targets.xml
server/.idea/libraries/Gradle*.xml
server/.idea/libraries/Maven*.xml
server/.idea/artifacts/PILL_*.xml
server/.idea/artifacts/KotlinPlugin.xml
server/.idea/modules
server/.idea/runConfigurations/JPS_*.xml
server/.idea/runConfigurations/PILL_*.xml
server/.idea/runConfigurations/_FP_*.xml
server/.idea/runConfigurations/_MT_*.xml
server/.idea/libraries
server/.idea/modules.xml
server/.idea/gradle.xml
server/.idea/compiler.xml
server/.idea/inspectionProfiles/profiles_settings.xml
server/.idea/.name
server/.idea/artifacts/dist_auto_*
server/.idea/artifacts/dist.xml
server/.idea/artifacts/ideaPlugin.xml
server/.idea/artifacts/kotlinc.xml
server/.idea/artifacts/kotlin_compiler_jar.xml
server/.idea/artifacts/kotlin_plugin_jar.xml
server/.idea/artifacts/kotlin_jps_plugin_jar.xml
server/.idea/artifacts/kotlin_daemon_client_jar.xml
server/.idea/artifacts/kotlin_imports_dumper_compiler_plugin_jar.xml
server/.idea/artifacts/kotlin_main_kts_jar.xml
server/.idea/artifacts/kotlin_compiler_client_embeddable_jar.xml
server/.idea/artifacts/kotlin_reflect_jar.xml
server/.idea/artifacts/kotlin_stdlib_js_ir_*
server/.idea/artifacts/kotlin_test_js_ir_*
server/.idea/artifacts/kotlin_stdlib_wasm_*
server/.idea/artifacts/kotlinx_atomicfu_runtime_*
server/.idea/artifacts/kotlinx_cli_jvm_*
server/.idea/jarRepositories.xml
server/.idea/csv-plugin.xml
server/.idea/libraries-with-intellij-classes.xml
server/.idea/misc.xml
server/node_modules/
server/.rpt2_cache/
server/libraries/tools/kotlin-test-js-runner/lib/
server/local.properties
server/buildSrcTmp/
server/distTmp/
server/outTmp/
server/test.output
server/kotlin-native/dist
server/kotlin-ide/


# Outputs
client/bazel-*
client/test-project-host-*
client/dist/
client/dist-schema/

# IDEs
client/jsconfig.json

# Intellij IDEA/WebStorm
# https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
client/.idea/inspectionProfiles/
client/.idea/**/compiler.xml
client/.idea/**/encodings.xml
client/.idea/**/workspace.xml
client/.idea/**/tasks.xml
client/.idea/**/usage.statistics.xml
client/.idea/**/dictionaries
client/.idea/**/shelf

# Also ignore code styles because .editorconfig is used instead.
client/.idea/codeStyles/

# VSCode
# https://github.com/github/gitignore/blob/master/Global/VisualStudioCode.gitignore
client/.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
client/**/*.code-workspace

# Typings file.
client/typings/

# Misc
client/coverage/
client/node_modules/
client/tmp/
client/npm-debug.log*
client/yarn-error.log*
client/.ng_pkg_build/
client/.ng-dev.log
client/.ng-dev.err*.log
client/.ng-dev.user*
client/.husky/_
client/.bazelrc.user
client/.eslintcache

# Mac OSX Finder files.
client/**/.DS_Store
client/.DS_Store
