:host {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: transparent;
  color: white;
  font-size: 2em;
}

a {
  text-decoration: none;
  color: inherit;
}

table, th, td {
  border: 1px solid;
  text-align: center;
  border-collapse: collapse;
}

td {
  height: 40px;
  width: 30%;
  background-color: #323c50;
}

table {
  flex-direction: column;
  flex: 3;
  flex-shrink: 0;
  align-items: stretch;
  text-align: center !important;
}

tr:hover td {
  background-color: #1f2839;
  cursor: pointer;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.positive {
  color: green;
  border-color: white;
}

.negative {
  color: #ff0033;
  border-color: white;
}

td, th {
  text-align: center !important;
  vertical-align: middle !important;
}

.mat-sort-header-container {
  justify-content: center !important;
}

mat-form-field {
  text-align: center;
}

#filterContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-form-field {
  flex: 0.5;
  margin-left: 5%;
}

:host::ng-deep .mat-input-element {
  caret-color: white !important;
}

:host::ng-deep .mat-form-field-label {
  color: white !important;

}


:host::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: white !important;
}

:host::ng-deep.mat-form-field.mat-focused .mat-form-field-ripple{
  background-color: white !important;
}

:host::ng-deep mat-checkbox {
  margin-left: 5%;
}

.icon-display {
  transform: scale(2, 1.5);
}

td button {
  visibility: hidden;
  float: right;
}

tr:hover td button {
  visibility: visible;
  right: 0;
}
