<div id="filterContainer">
  <mat-form-field class>
    <mat-label>Search product</mat-label>
    <input matInput (keyup)="search($event)" #input>
  </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element">{{element.name}}</td>
  </ng-container>

  <ng-container matColumnDef="oldPrice">
    <th mat-header-cell *matHeaderCellDef> Old Price </th>
    <td mat-cell *matCellDef="let element">{{element.oldPrice}}</td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Price </th>
    <td mat-cell *matCellDef="let element">{{element.price}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr
    mat-row
    (click)="goToWebsite(row.url)"
    *matRowDef="let row; columns: columnsToDisplay;"
  ></tr>
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching "{{ input.value }}"</td>
  </tr>
</table>

<!--https://www.angularjswiki.com/material/mat-table/-->

