:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  width: 70%;
}

h1, button {
  color: white;
  text-align: center;
}
button {
  font-size: 3em;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  padding: 30px;
  margin-left: 30px;
}

mat-form-field {
  flex: 0.5;
  margin-left: 5%;
}

:host::ng-deep .mat-input-element {
  caret-color: white !important;
}

:host::ng-deep .mat-form-field-label {
  color: white !important;
}

mat-form-field {
  font-size: 2em;
  text-align: center;
}

:host::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: white !important;
}

:host::ng-deep.mat-form-field.mat-focused .mat-form-field-ripple{
  background-color: white !important;
}

#login {
  margin-top: 100px;
}

input {
  color: white;
}
